# Include git links,(Done)
# Rename the name of EC(Done)
# Review the AI-docs(WIP)
# Navigation in Wiki-js(need to assign)
# Codelama
# Debugging code automatically
# Need t o havce a single readme fiel for the entire EC.
# Dynamic text box(open text box wherever required)
.idea
demo
documents
env/
faiss_index
output_parser.py
test.py
Extracted_links.txt